* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #d6d6d6a1;
    color: #383838;
    font-family: 'Noto Serif TC', serif;
}

.page {
    width: 95%;
    margin: 0 auto;
}

@media(min-width:78px) {
    .page {
        width: 600px;
    }
}

.head-photo {
    width: 150px;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 50px 0 30px;
}

.head {
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    color: #834a4a;
}

p {
    color: #866464a1;
}

.btn {
    margin-bottom: 8px;
    border-radius: 4px;
    display: block;
    border: 1px solid #222;
    padding: 16px;
    font-size: 1.125rem;
    color: #222;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background: #7e73736c;
    color: #4e1d1d;
}

.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50 auto;
    gap: 4px;
    margin: 30px 0 50px;
}

.work-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}